@using Mood_o_Meter.Models
@model IEnumerable<Mood>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-unit">
    <p>
        <button type="button" class="btn-large" id="good-button">Good</button>
        <button type="button" class="btn-large" id="bad-button">Bad</button>
    </p>
</div>

<svg id="mood-cloud" width="1200" height="400">
</svg>

@section Scripts
{
    <script src="~/Scripts/moood.js" ></script>
}
